<p>Welcome to my Ludum Dare 28 game thing&reg;! Start from the center of the map and gather resources, fighting enemies as you go!</p>

<p><strong>This game features permadeath in the truest sense: once you die your account will be deleted and you will have to register for the game anew!</strong>
</p>

<h2> Tips</h2>
<ul>
  
  <li>Just register with something simple while trialing. You only need username/password and there's no confirmation, so you can just dive straight in!</li>
  <li> Watch your health! Some stuff hits like a truck: be prepared!</li>
  
  <li> Pay attention to names: stay away from bosses, but don't be too scared of
    Awful / Weak stuff!
  </li>
  
  <li>
    You can click around the map to preview the contents of various cells before you
    go there to avoid nasty surprises!
  </li> 
  
  <li>
    <strong>Character progression is automatic</strong> and is tied to an autolooting
    system. Harder enemies have better multipliers that will help you get those much needed regen points!
  </li>

  <li>
    The game's map occassionally desyncs a bit. All stuff is server side and it cannot corrupt your game, but be careful to refresh the page so that your client isn't a "turn behind" during a boss fight!
  </li>

  <li>
    The world will continue to run after you log out if other players are online. This
    is a design decision. Your character will persist for 3 hours and would thoretically be vulnerable to attack if enemies moved around the grid (and they can always spawn on you if you are unlucky :D)
  </li>

  <li>
    <strong> USE THE REST ACTION</strong> to restore health! Idle cycles will restore some, but only at 1/3rd the speed!
  </li>
</ul>

<h2>About</h2>
<ul>


  <li>Feel free to reach me <a href='http://www.twitter.com/tobypinder'>on Twitter</a> for comments! I'm expecially interested to see if anyone would like to see the concept expanded upon as if there's demand I have plans :D
  </li>

  <li>This game has been certified as Potato free by multiple independent third party auditors. Users with allergies should be aware however that the product was manufactured in a crisp fuelled environment.</li>


</ul>  