<p>Welcome to my Ludum Dare 28 game thing&reg;! Start from the center of the map and gather resources, fighting enemies as you go!</p>

<p>This game features permadeath in the truest sense: once you die your account will be deleted and you will have to register for the game anew!
</p>