<footer class="footer container">
  <div class="span12">
  	<div class='well well-small footer'>
      <small>
        &copy; Toby Pinder for Ludum Dare 26!
      </small>
    </div>
  </div>
</footer>